/* center element using absolute positioning */
#login-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@media screen and (max-width: 991px) {
  #login-button {
    font-size: 16px;
  }
}
