/*

Styles derived from the fruitbasket WordPress theme devloped for RVFB
by Annamarie Cowrt

Units measured in em to preserve scale during fullscreen

*/

html * {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html, body {
  height: 100%
}

body {
  display: flex;
  flex-flow: column;

  background: #F7F7F7 url("/assets/media/background.png") no-repeat fixed right top;
  background-size: 130vh;

  font-size: 1rem;
  font-family: 'PT Sans', Verdana, Arial, Helvetica, sans-serif;
}

header {
  margin-bottom: 2em;

  background-color: #FFFFFFAA;
}

header .container {
  display: table;
  table-layout: fixed;
}

header .container > * {
  display: table-cell;
}

header .container :last-child {
  text-align: right;
  vertical-align: middle;
}

header::after {
  content: "";

  position: absolute;

  width: 75%;
  min-width: 46.88em;
  height: .188em;

  background-color: #fc6805;
}

p.container {
  margin-bottom: 1em;
}

h1 {
  font-size: 3em;
  line-height: 2;
  font-weight: lighter;
  letter-spacing: -.5px;
  color: #444444;
}

table {
  display: block;
  flex-grow: 1;

  overflow: scroll;

  border-collapse: collapse;
}

tr {
  display: table;
  table-layout: fixed;

  border-bottom: 1px solid black;
  width: 100%;

  line-height: 5;
}

tr:last-child {
  border-bottom: 0;
}

td {
  text-align: center;
}

td:nth-child(2) {
  text-align: right;
}

td:first-child {
  font-family: "Arvo";
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 90%;
  min-width: 62.5em;
}

.button {
  border: none;
  padding: 1.25em 7%;

  color: #FFFFFF;

  font-weight: bold;

  cursor: pointer;
}

/* center element using absolute positioning */
.login-button {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translateX(-50%) translateY(-50%);

  font-size: 1.25em;
  line-height: 1;
  text-transform: uppercase;
}

.logout-button {
  font-size: 0.85em;
  text-transform: uppercase;
}

.list-button {
  border-radius: 2px;

  font-size: 0.85em;
}

.green-button {
  background-color: #13BA3F;
}

.green-button:hover {
  background-color: #18AA3F;
}

.red-button {
  background-color: #FC6805;
}

.red-button:hover {
  background-color: #DA5B05;
}

.span-green {
  font-size: 1.3em;
  font-family: 'Arvo', serif;
  letter-spacing: -.5px;
  color: #13BA3F;
}

@media screen and (min-height: 700px) {
  body {
    background-position: right calc(0% + 15vh);
    background-size: 110vh;

    font-size: 1.3rem;
  }
}
