/*

Styles derived from the fruitbasket WordPress theme devloped for RVFB
by Annamarie Cowrt

Units measured in em to preserve scale during fullscreen

*/

html * {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

/* Background image disabled until the way I want it */
body {
  background-color: #F7F7F7;

  font-size: 1rem;
  font-family: 'PT Sans', Verdana, Arial, Helvetica, sans-serif;
}

header {
  margin-bottom: 2em;

  background-color: #FFFFFFAA;
}

header::after {
  content: "";

  position: absolute;

  width: 75%;
  min-width: 46.88em;
  height: .188em;

  background-color: #fc6805;
}

h1 {
  font-size: 3em;
  line-height: 2;
  font-weight: lighter;
  letter-spacing: -.5px;
  color: #444444;
}

a {
  color: #FC6805;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 90%;
  min-width: 62.5em;
}

.button {
  color: #FFFFFF;

  cursor: pointer;
}

a.button {
  border: none;
  padding: 1.25em 7%;

  background-color: #FC6805;

  font-size: 1.25em;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
}

a.button:hover {
  background-color: #DA5B05;
}

.greenSpan {
  font-size: 1.3em;
  font-family: 'Arvo', serif;
  letter-spacing: -.5px;
  color: #13BA3F;
}

@media screen and (min-height: 700px) {
  body {
    font-size: 1.3rem;
  }
}
